.forest {
    height: 100vh;
    width: 100vw;
    background-color: #A5D1D3;
}

.rect {
    width: 360px;
    height: 228px;

    background: #B0E0E6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
    position: absolute;
    bottom: -80%;
    left: 1%;
    /*  */
}

.rectwo {
    width: 400px;
    height: 228px;

    background: #B0E0E6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: absolute;
    right: 46.78%;
    bottom: -80%;
}

.line {
    position: absolute;
    width: 225px;
    height: 0px;
    left: 266.6px;
    top: 1314px;

    border: 4px solid #72B7BA;
    border-radius: 100px;
    transform: rotate(-90deg)
}